# Data Science Tools and Ecosystem

## Author
Joaquín Mercado Sapiaín

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
- List popular languages
- List some development environments
- Practice formatting in markdown mode
- List some popular data science libraries
- Refresh some basic operations in code mode

Some of the popular languages that Data Scientists use are:
1. SQL
2. Python
3. R
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. MatplotLib
4. Tensorflow

|Data Science Tools|
|----|
|R Studio|
|Jupyter Lab|
|Gitlab|
|Atom|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [3]:
20/6

3.3333333333333335